@charset 'utf-8';

@import './iview.reset.less';

html, body {
  width: 100vw;
  height: 100vh;
  font-family: 'Fire Code' !important;

  input {
    border: none;
    outline: none;

    &:-webkit-autofill {
      box-shadow: 0 0 0px 1000px #fff inset;
    }
  }

  a {
    color: @font-primary-color;
  }
}